.container
  %br/
  .row
    - @sellers.each do |seller|
      .col-md-4.col-lg-4.col-sm-6.col-xs-12
        .col.mb-4
          .card
            .animationLoading
              .view.overlay.image-loader
                #seller-image-loader
              .view-ovelay.actual-image{ style:"display:none;" }
                %img.card-img-top.seller-img{:alt => "Card image cap", :src => "#{seller.try(:image).url(:thumb).to_s}"}/
                %a{:href => "#!"}
                  .mask.rgba-white-slight
              .card-body
                %h4.actual-fullname.card-title
                  = seller_fullname(seller)
                .fullname-loader
                  %p.card-text
                    %span
                      #fullname-loader