.container
  %br/
  %br/
  .row
    .col-md-12.col-lg-12
  .row
    .col-md-8.col-lg-8
      .col-md-12.col-lg-12
        %center
          %h3
            Amaia Land Corporation
      .col-md-12.col-lg-12
        %br/
        %h4
          Amaia Land - Company Profile
        %br/
        %p
          Amaia Land Corp. is a wholly-owned subsidiary of Ayala Land Inc. (ALI) that caters to a broad affordable market segment.
        %p
          Amaia promises to bring the spirit and quality of an A-development to more people. Originally 
          named First Communities Realty, Inc. under the former Laguna Properties Holdings Inc. 
          (LPHI), Amaia focuses on the economic housing segment, which makes up 34% of the Philippine real estate market. 
          Amaia caters to a broad affordable market segment that includes government employees, teachers, manufacturing employees, 
          small business owners, starting professionals and families of Filipinos working abroad.
        %p
          %b 
            OUR NAME
        %p
          In Spanish/Basque, "Amaya" means a high place, the fulfilment of a dream. 
          "Maya" is also taken from the local sparrow, humble and courageous as it goes about providing for its family each day.
        %p
          %b
            FIVE (5) PILLARS
        %p
          Amaia Land Corp. will uphold the following pillars on its projects to be able to bring quality development to more people.
      .col-md-12.col-lg-12
        = image_tag 'amaia-land-1.jpg', class: "img img-fluid"
      .col-md-12.col-lg-12
        %br/
        %h3
          Amaia Land - Mission
        %br/
        %p
          We are committed to raising the living standards of the majority of working class Filipinos. 
          We empower our customers by providing innovative, quality and diversified lines of products in
          accessible locations in major growth areas of the Philippines. Easy and affordable financing options
          are made available to customers here and abroad. We assure our residents a safe and secure living 
          experience that has provisions for the growth of family and community.
        %p
          We are a major contributor to ALI's revenue and bottom-line targets as well as a key driver in
          enhancing ALI's overall brand equity.
        %p
          We are experienced, competent, highly motivated individuals and teams who share common values of:
        %p
          %ul
            %li
              Integrity
            %li
              Customer Satisfaction
            %li
              Innovation and Creativity
            %li
              Quality
            %li
              Cost Effectiveness
            %li
              Teamwork
        %p
          We offer mutually beneficial and long-term relationships to our business partners by dealing with 
          them fairly and with integrity. We work together to maximize synergies and utilize best practices to
          deliver the best value products and services to our customers.
        %p
          We contribute to nation-building by uplifting the living conditions in every area that we develop
          and by promoting environment sustainability programs.
      .col-md-12.col-lg-12
        %h3
          Amaia Land - Vision
        %p
          We are the dominant community developer in the Economic Housing Sector.
    .col-md-4.col-lg-4
      = render 'shared/list_of_projects', available_locations: @available_locations